/* CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2d3436;
    color: #f6e58d;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30%;
    font-size: 2rem;
}

table td, table th{
    padding: 0.5rem;
    border: 1px dashed #f6e58d;
    border-collapse: collapse;
}

@media screen and (min-width:700px){
    .wrapper{
        margin-top:15%;
    }
}